
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
<body>
    <div> 

        <h2>This is my own layout </h2>

        @Html.ActionLink("DropDownSample","SelectCity","Student")
   
    <div>
        @RenderBody();
    </div>
    </div>
</body>
</html>
