
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index with layout</h2>

<hr/>



<div>
   @* @{
        Html.RenderPartial("PartialView");
    }
*@
    @Html.Partial("PartialView");
</div>

